@page
@model labBD.Pages.Meals.EditModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование блюда</h2>

<form method="post">
    <input asp-for="Meal.Id" type="hidden" />
    <p>
        <label asp-for="Meal.Name">Название</label><br />
        <input asp-for="Meal.Name"  />
    </p>
    <p>
        <label asp-for="Meal.Category">Категория</label><br />
        <input asp-for="Meal.Category" />
    </p>
    <p>
        <label asp-for="Meal.CaloricValue">Калорийность</label><br />
        <input asp-for="Meal.CaloricValue"  type="number" />
    </p>
    <input type="submit" value="Сохранить" class="gradient-button"/>
</form>
