@page
@model labBD.Pages.MealsCompositions.EditModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование состав блюда</h2>

<form method="post">
    <input asp-for="MealsComposition.Id" type="hidden" />
    <p>
        <label asp-for="MealsComposition.Meal.Name">Блюдо</label><br />
        <input asp-for="MealsComposition.Meal.Name" />
    </p>
    <p>
        <label asp-for="MealsComposition.Product.Name">Продукт</label><br />
        <input asp-for="MealsComposition.Product.Name" />
    </p>
    <p>
        <label asp-for="MealsComposition.ProductWeight">Масса продукта</label><br />
        <input asp-for="MealsComposition.ProductWeight" type="number" />
    </p>
    <input type="submit" value="Сохранить" class="gradient-button" />
</form>
