@page "{id:Guid}"
@model labBD.Pages.Products.EditModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование продукта</h2>
  
<form method="post">
    <input asp-for="Product.Id" type="hidden" />
    <p>
        <label asp-for="Product.Name">Название</label><br />
        <input asp-for="Product.Name" />
    </p>
    <p>
        <label asp-for="Product.ProductGroup">Продуктовая группа</label><br />
        <input asp-for="Product.ProductGroup"/>
    </p>
    <p>
        <label asp-for="Product.Type">Вид</label><br />
        <input asp-for="Product.Type" />
    </p>
    <p>
        <label asp-for="Product.CaloricValue">Калорийность</label><br />
        <input asp-for="Product.CaloricValue" type="number" />
    </p>
    <input type="submit" value="Сохранить" class="gradient-button" />
</form>