@page
@model labBD.Pages.CreateModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Добавление нового пользователя</h2>
<form method="post">
    <p>
        <label>Имя: </label><br />
        <input name="name" />
    </p>
    <p>
        <label>Почта: </label><br />
        <input name="email" />
    </p>
    <p>
        <label>Рост: </label><br />
        <input name="height" type="number" />
    </p>
    <p>
        <label>Вес: </label><br />
        <input name="weight" type="number" />
    </p>
    <p>
        <label>Возраст: </label><br />
        <input name="Age" type="number" />
    </p>
    <p>
        <label>Пол: </label><br />
        <input name="sex"/>
    </p>
    <p>
        <label>Физическая активность: </label><br />
        <input name="physicalActivity" type="number" />
    </p>
    <input type="submit" value="Отправить" class="gradient-button" />
</form>
