@page
@model labBD.Pages.FoodIntakes.EditModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование приема пищи</h2>

<form method="post">
    <input asp-for="FoodIntake.Id" type="hidden" />
    <p>
        <label asp-for="FoodIntake.TypeOfFoodIntake">Вид приема пищи</label><br />
        <input asp-for="FoodIntake.TypeOfFoodIntake" />
    </p>
    <label asp-for="FoodIntake.Meal" class="control-label">Блюдо</label>
    <select asp-for="FoodIntake.MealId" class="form-control"
            asp-items="@Model.MealSL">
        <option value="">Выбор блюда</option>
    </select>
    <span asp-validation-for="FoodIntake.MealId" class="text-danger" />
    <p>
        <label asp-for="FoodIntake.Date">Дата приема пищи</label><br />
        <input asp-for="FoodIntake.Date" date" />
    </p>
    <label asp-for="FoodIntake.User" class="control-label">Пользователь</label>
    <select asp-for="FoodIntake.UserId" class="form-control"
            asp-items="@Model.UserSL">
        <option value="">Выбор пользователя</option>
    </select>
    <span asp-validation-for="FoodIntake.UserId" class="text-danger" />
    
    <input type="submit" value="Сохранить" class="gradient-button" />
</form>