@page
@model labBD.Pages.FoodIntakes.EditModel
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование приема пищи</h2>

<form method="post">
    <input asp-for="FoodIntake.Id" type="hidden" />
    <p>
        <label asp-for="FoodIntake.Id">Вид приема пищи</label><br />
        <input asp-for="FoodIntake.Id" value="@Model.FoodIntake?.TypeOfFoodIntake" />
    </p>
    <p>
        <label asp-for="FoodIntake.Meal.Name">Блюдо</label><br />
        <input asp-for="FoodIntake.Meal.Name"  />
    </p>
    <p>
        <label asp-for="FoodIntake.Date">Дата приема пищи</label><br />
        <input asp-for="FoodIntake.Date"  type="date" />
    </p>
    <p>
        <label asp-for="FoodIntake.User.Name">Пользователь</label><br />
        <input asp-for="FoodIntake.User.Name"  />
    </p>
    <input type="submit" value="Сохранить" class="gradient-button" />
</form>